<body>
    <div class="title">
        <h1> <%= title %> </h1> <br>
        <p> Posted by <%= author %> on <%= date %>  </p> <br>
    </div>
    <div class="content">
        <p> <%= content %>  </p>
    </div>
</body> 