<!DOCTYPE html>
<html>
  
  <%- include('./partials/head.ejs') %> 
  <% var users; %> 
  <body>
    <%- include('./partials/navbar.ejs') %> 
    <div class="main-body">
      
      <% if (users != null && users.length > 0) { %>
        <h1 style='text-align: center;'>All Users</h1>
        <ul class="user-list">
        </ul>
        <% users.forEach(user => { %>
          <li> 
            <a href="/users/<%= user.id %>"> <%= user.userName %> </a>
          </li>
        <% }) %>
      <% } else { %>
          <h1> Your app has no users :( </h1>
      <% } %>
    </div>
    
    
  </body>
  
</html>
